<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title th:text="${user.username}">User name</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>



    <div th:fragment="top">
        <div class="jumbotron bg-dark text-white" style="margin-bottom:30px">
            <h1>Vanhan Kansan LinkedIn</h1>
            <p>VakaLi</p> 
        </div>
    </div>







    <body style="background-color:powderblue;">






        <div th:fragment="links">
            <nav>
                <a href="/profile/">Oma Profiili</a> |
                <a href="/profiles/">Muut käyttäjät</a> |
                <a href="/post/">Postaukset</a> 
            </nav>
        </div>







        <div th:fragment="logout">
            <form th:action="@{/logout}" method="POST">
                <input type="submit" value="Kirjaudu ulos"></input>   
            </form>
        </div>







        <div th:fragment="footer">
            <div class="jumbotron bg-dark text-white text-center" style="margin-top:30px">

                <form th:action="@{/logout}" method="POST">
                    <button class="btn btn-primary btn-lg" type="submit">Kirjaudu ulos</button>
                </form>
            </div>
        </div>


    </body>
</html>
